@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* general */

body, html {
    width: 100%;
    height: 100%;

    margin: 0;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: flex;
}

body>div {
    flex: 1;
}

a, input[type="submit"] {
    cursor: pointer;
}

/* left */

#left, #right {
    max-width: 350px;
}

#left {
    padding: 1em;

    background: red;
}

#left p {
    text-align: center;
}

p#current-name {
    margin-bottom: 0;

    font-size: 1.3rem;
    color: pink;
}

p#current-date {
    margin-top: 0;

    font-size: 1.2rem;
    color: purple;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    overflow: hidden auto;

    max-height: 30%;
    margin: 1em 0;
    padding: .5em;

    border-radius: 1em;
    background-color: cyan;
}

.tag {
    display: flex;
    align-items: center;
    gap: .5em;

    height: fit-content;
    padding: .4em .6em;

    background-color: purple;
    border-radius: 2em;

    font-size: .9rem;
}

.tag.selected {
    background-color: yellow;
}

.tag img {
    height: 1em;
}

.buttons-flex {
    display: flex;
    justify-content: space-between;

    gap: 1em;
}

.buttons-flex a, #new-tag input[type="submit"] {
    flex-grow: 1;
    max-width: calc(50% - 1em);

    padding: .5em;
    border-radius: .8em;

    background-color: orange;
    text-align: center;
}

#new-tag {
    display: flex;
    gap: 1em;
}

input[type="text"] {
    flex-grow: 1;

    box-sizing: border-box;
    padding: 0 .4em;

    border: 3px solid brown;
    border-radius: 1rem;
    font-size: 1rem;
}

#new-tag input[type="submit"] {
    border: none;

    font-size: 1rem;
}

/* center */

#center {
    position: relative;
    background: lime;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: min(960px, 50%);
}

#content {
    max-width: 100%;
    max-height: 100%;
}

.action {
    transition: .3s linear opacity;
    opacity: 0;
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;

    width: 20%;
    height: 30%;
}

.action:hover {
    opacity: 1;
}

.action img {
    height: 50%;
}

#action-previous {
    left: 0;
}

#action-next {
    justify-content: right;
    right: 0;
}

#bar {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    width: 100%;
    height: fit-content;
    padding: .5em;
    box-sizing: border-box;

    background: yellow;
}

#bar img {
    height: 2rem;
}

#bar form {
    flex-grow: 1;
    margin: 0;
}

#bar input {
    width: 100%;
    height: 2rem;
}

/* right */

#right {
    overflow: hidden auto;

    background: blue;
}

#right>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    gap: .5em;

    padding: .5em;
    height: fit-content;
}

#right img {
    cursor: pointer;

    width: 8em;

    border-radius: .4em;
}

#right>div>div {
    position: relative;
}

#right>div>div:has(img.selected):after {
    content: "";
    pointer-events: none;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-.3em, -.3em);

    width: 100%;
    height: 100%;

    border: .3em solid red;
    border-radius: .6em;
}

.day-separator {
    position: relative;

    display: block;
    width: 100%;
    margin: .8em 0;

    text-wrap-mode: nowrap;
    text-align: center;
}

.day-separator:after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.2em);

    margin: 0 5%;
    width: 90%;
    height: 2px;

    background: white;
}
