@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* general */

body, html {
    width: 100%;
    height: 100%;

    margin: 0;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;

    background-color: #18161a;
    color: #e1e1e1;
}

body {
    display: flex;
}

body>div {
    flex: 1;
}

a, input[type="submit"] {
    cursor: pointer;
}

.icon {
    filter: invert(.8);
}

/* left */

#left, #right {
    height: 100%;

    overflow: hidden auto;
    box-sizing: border-box;
    padding: 1em;
    max-width: fit-content;

    z-index: 1;
}

#left {
    max-width: 400px;
}

#left p {
    text-align: center;
}

p#current-name {
    margin-bottom: 0;

    font-size: 1.3rem;
    color: #e7e7e7;
}

p#current-date {
    margin-top: 0;

    font-size: 1.2rem;
    color: #939393;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    overflow: hidden auto;

    max-height: 25%;
    margin: 1em 0;
    padding: .5em;

    border-radius: 1.5em;
    background-color: #2f2f2f;
}

.tag {
    transition: .2s filter;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .5em;

    height: fit-content;
    padding: .4em .6em;

    background-color: #3b3b3b;
    border: 2px solid #3b3b3b;
    border-radius: 2em;

    font-size: .9rem;
}

.tag.selected {
    background-color: #8d4fa3;
    border: 2px solid #8d4fa3;
}

.tag:hover {
    filter: brightness(1.2);
}

.tag:active:not(:has(img:active)) {
    border-color: #ffffff;
}

.tag img {
    height: 1em;
}

.tag img:active {
    filter: invert(1);
}

.buttons-flex {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1em;
    gap: 1em;
}

.buttons-flex a, input[type="submit"] {
    flex-grow: 1;
    max-width: calc(50% - 1em);

    padding: .5em;
    border-radius: .8em;

    background-color: #c18e30;
    border: 2px solid #c18e30;
    text-align: center;
}


:is(.buttons-flex a, input[type="submit"]):hover {
    filter: brightness(1.2);
}

:is(.buttons-flex a, input[type="submit"]):active {
    border-color: #ffffff;
}

#new-tag {
    display: flex;
    gap: 1em;
}

input[type="text"], input[type="date"] {
    flex-grow: 1;

    box-sizing: border-box;
    padding: .2em .4em;

    border: 3px solid #494949;
    border-radius: 1rem;
    font-size: 1rem;

    background-color: #c6baaf;
    color: #000000;
}

input[type="submit"] {
    border: none;

    font-size: 1rem;
    color: #e1e1e1;
}

#date-picker {
    display: flex;
    align-items: right;
    gap: 1em;

    margin: 1em 0;
}

/* center */

#center {
    display: flex;
    flex-direction: column;

    min-width: min(960px, 50%);

    background-color: #000000;
}

#content-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    width: 100%;
    height: calc(100% - 5em);
}

img#content {
    max-width: calc(100% - 1em);
    max-height: 100%;

    border-radius: 1.2em;
}

.action {
    transition: .3s linear opacity;
    opacity: 0;
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;

    width: 20%;
    height: 100%;
}

.action:hover {
    opacity: .5;
}

.action:active {
    transition: none;
    opacity: .7;
}

.action img {
    width: 50%;
}

#action-prev {
    left: 0;
}

#action-prev:hover {
    background: linear-gradient(90deg, #00000050, transparent);
}

#action-next {
    justify-content: right;
    right: 0;
}

#action-next:hover {
    background: linear-gradient(270deg, #00000050, transparent);
}

#bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    width: 100%;
    height: fit-content;
    padding: .5em;
    box-sizing: border-box;

    background-color: #29252d;
}

#bar img {
    transition: .2s background-color;

    padding: .3em;
    height: 2.3rem;
    box-sizing: border-box;

    border-radius: .5em;
    border: 2px solid transparent;
}

#bar img:hover {
    background-color: #d0d0d0;
}

#bar img:active {
    border-color: #000000;
}

#bar form {
    flex-grow: 1;
    margin: 0;
}

#bar input {
    width: calc(100% - 1rem);
    height: 2rem;
    box-sizing: content-box;
}

/* right */

#right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 1em;

    max-width: 12em;
    max-height: 100%;

    height: fit-content;
}

#right>div {
    position: relative;
    display: inline-flex;
}

#right img {
    cursor: pointer;

    width: 100%;

    border-radius: .4em;
    box-shadow: 0 0 10px #00000040;
}

#right>div:is(:hover, :has(img.selected)):after {
    content: "";
    pointer-events: none;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-.3em, -.3em);

    width: 100%;
    height: 100%;

    border-radius: .6em;
}

#right>div:has(img.selected):after {
    border: .3em solid #c18e30;
}

#right>div:hover:after {
    border: .3em solid #7b705c;
}

.separator {
    position: relative;

    display: block;
    width: 100%;
    margin: .8em 0;

    text-wrap-mode: nowrap;
    text-align: center;
}

.separator:after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em);

    margin: 0 5%;
    width: 90%;
    height: 1px;

    background-color: #ffffff1a;
}

/* popup */

#backend-url-popup {
    z-index: 2;
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 30%;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-size: 1.5rem;

    background-color: #2b2a2d80;
    backdrop-filter: blur(5px);
}

#backend-url-popup p {
    text-align: center;
}

#backend-url-popup input {
    font-size: 1.5rem;
}

#backend-url-error {
    color: #f5613e;
}
